@model DPC.Models.Entities.Trainee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deanery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deanery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pathway)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pathway)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TraineeId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Payments" asp-action="Create">Add Payment Details</a>
</div>
